## ignore test files and folders
Output/

Singleton design pattern/
SST_clean_observer_singleton.xsl

cmd_test.bat

code_template.xsl

Constraints.txt
Todo.txt
## Ignore Visual Paradigm temporary files
*.vpp.*
*.vux*
